<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="a18af0aa-9e33-4324-bfac-c93ab4d90fc2"
            Publisher="CN=tclh123"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>RenrenHD</DisplayName>
    <PublisherDisplayName>tclh123</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="RenrenHD.App">
        <VisualElements
            DisplayName="RenrenHD"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="RenrenHD"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>